.body {
    padding: 12px 0;

    .days {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(30px), 1fr));
        grid-auto-rows: minmax(33px, auto);
        gap: 10px;

        .day {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &.of-week {
                font-weight: 500;
            }

            &.month-outside {
                color: #eeeeee;
            }

            &:hover:not(.month-outside) {
                background-color: lightgray;
                border-radius: 50%;
            }
            &:active:not(.month-outside) {
                background-color: gray;
                border-radius: 50%;
            }

            &.highlight {
                background-color: #db3d44;
                color: white;
                border-radius: 50%;
            }
        }
    }

    .twelve-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc(50px), 1fr));
        grid-auto-rows: 60px;
        gap: 20px;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                background-color: lightgray;
            }
            &:active {
                background-color: gray;
            }
            &.highlight {
                background-color: #db3d44;
                color: white;
                border-radius: 50%;
            }
        }
    }
}